.table-gamers .first-col { min-width: 200px; }
.table-gamers .date-col { min-width: 135px; }
.table-gamers [data-role=sort-btn] { user-select: none; }
.gamers-avatar {
  border-radius: 50%;
  width: 45px;
  margin-right: 15px;
}
.sort-icon.active { transform: translate(-50%, 50%) rotate(180deg); }
.sort-icon {
  content: "";
  color: #007aff;
  font-size: 1.5rem;

  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: transform .25s;
}

/* PANEL PARAM FOR SEARCH GAMER */
.panel-param { padding: 15px; }
.panel-title { font-size: 1.2rem; }
.form-search input { padding-left: 2rem; }
.form-search i {
  color: #007aff;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.alphabet-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity .25;
}
.alphabet-btn:focus { outline: none; }
.alphabet-btn:hover { opacity: .5; }

/* RANGE */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] { -moz-appearance: textfield; }

.range-form__input {
  border: none;
  width: 30px;
}
.range-form__input:focus { outline: none; }

.noUi-target {
  background: #e7e7e7;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  height: 3px;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #007aff;
}
.noUi-handle:after, .noUi-handle:before {
  display: none;
}
.noUi-handle {
  border: none;
  border-radius: 100%;
  background: #007aff;
  cursor: default;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle {
  width: 25px;
  height: 25px;
  top: -11px;
}
.noUi-horizontal .noUi-handle:focus { outline: none; }